@model DotNetAcademy.BikeShop.Host.ViewModels.ProductViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-12 col-lg-8">
        <img src="@Model.PathToImage" class="bike-image" alt="@Model.Name" />
    </div>
    <div class="col-12 col-lg-4">
        <form action="/" method="post">
            <h5>€ @($"{Model.Price:N}")</h5>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input id="amount" class="form-control" type="number" min="1" step="1" value="1" />
            </div>
            <button type="submit" class="btn btn-success">Add to card</button>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to overview", "Index", "Products", null, new {@class="btn btn-outline-secondary"})
</div>
