@model IEnumerable<DotNetAcademy.BikeShop.Host.ViewModels.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="card-group">
    @foreach (var item in Model.OrderBy(m => m.Price))
    {
        <div class="card">
            <img class="card-img-top" src="images/bikes/@(item.Name.ToLowerInvariant().Replace(' ', '_') + ".jpeg")" alt="@item.Name" width="">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle">€ @($"{item.Price:N}")</h6>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </div>
        </div>
    }
</div>