@model DotNetAcademy.BikeShop.Host.ViewModels.ShoppingBagViewModel

@{
    ViewData["Title"] = "Shopping Bag";
}

<h1>@ViewData["Title"]</h1>

<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Items != null && Model.Items.Count > 0)
        {

            @foreach (var item in Model.Items)
            {
                <tr>
                    <th scope="row">@item.Product.Name</th>
                    <td>€ @item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td>€ @item.TotalPrice</td>
                </tr>
            }
            <tr>
                <th scope="row" colspan="3"><b>Total</b></th>
                <td><b>€ @Model.GetTotal</b></td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center"><b>There are no items in your shopping bag...</b></td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to overview", "Index", "Products", null, new { @class = "btn btn-outline-secondary" })
</div>
